@media screen and (max-width: 1400px ) {
  .video__tube{transform:translate(0 , 0); top:auto; left: auto; position: relative;}
  .top-block{ min-height: 1px;}
}
@media screen and (max-width: 992px ) {
  /*text*/
      h1{ font-size:48px;}
      h2{ font-size: 38px;}
      h4{ font-size: 20px;}
      h5{ font-size: 16px;}
      p{ font-size: 16px;}
  /*END text*/
  /*header*/
  .butter{ display: block; cursor: pointer;}
  .header__content{ height: 99px;}
  .header__nav{ position: absolute;  background-color: rgba(18,14,8, 0.72); top: 99px; left: 50%;  width: 100%; padding:  0 15px; opacity: 0; transform-origin: 50% 0; transform: scaleY(0) translateX(-50%); transition:all 200ms;
    &.show{transform: scaleY(1) translateX(-50%); opacity: 1;}
  }
  .header__right{ width: auto;}
  .menu li:last-child > ul{ left: auto; right: -15px;}
  .header__user-nav{top: 99%; z-index: 500;}
  /*END header*/
  /*footer*/
  .footer{ padding-top: 25px; }
  .footer__col{ width: 100%; margin-bottom: 20px; position: relative;}
  .footer__nav{ width: 50%;}
  .footer__logo{ text-align: center;}
  .footer__contacts{ padding-left: 25px; padding-right: 50px;
    h6{margin: 0px 0 8px;}
    a{ line-height: 1.15;}
  }
  .footer__addres{ margin-bottom: 0;}
  .footer__socials{ position: absolute; right: 0; top: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;
    a{ margin-right: 0; margin-bottom: 10px;}
  }
  .footer__mail{ margin-bottom: 0;}
  .footer__addres:before{ top: 3px;}
  .footer__mail:before{ top: 6px;}
  /*END footer*/
  /*top-block*/
  .top-block__content{ position: relative; padding-top: 99px;}
  .top-block__play,
  .video__tube{ display: none;}
  .top-block{ min-height: 454px;}
  /*top-block*/
}
@media screen and (max-width: 767px ) {
  .six-item__content{ padding: 21px 0 0;}
  .six-item__item-wrap{ width: 50%; margin-bottom: 0;}
  .four-item__num{ font-size: 30px;}
  .four-item__img{ width: 40%;}
}
@media screen and (max-width: 666px ) {
  /*header*/
  .header__nav { flex-wrap: wrap; padding: 0 15px 15px; }
  .menu li { width: 100%; height: auto; line-height: 1.5; }
  .menu li > ul { position: relative; left: auto; top: auto; }
  /*END header*/
  .four-item__item-wrap { width: 100%; padding: 0; }
  .four-item__item-wrap--right:before { left: -15px; }
  .four-item__item-wrap:before { right: -15px; }
  .four-item__item-wrap--color:before { background-color: #eeedea; }
  .four-item__item-wrap:nth-child(2n -1):before { background-color: #e8e6e0; }
  .four-item__item { padding: 49px 0 0; }
  .book { padding: 55px 0; }
  .book__content { flex-wrap: wrap; align-items: flex-start; }
  .book__item { width: 100%; min-height: 1px; }
  .two-column__row { flex-wrap: wrap; align-items: flex-start; }
  .two-column__item { width: 100%; }
  .about__row{ flex-wrap: wrap; align-items: flex-start;}
  .about__img{width: 100%;}
  .about{padding: 0;}
  .two-column{ padding: 31px 0 0;}
}
@media screen and (max-width: 480px ) {
  /*header*/
  .header__content{flex-wrap: wrap; height: auto; padding:10px 0;}
  .header__logo{ width: 100%; text-align: center; margin-bottom: 10px;}
  .header__right{ width: 100%;}
  .butter{ position: relative; left: auto; top: auto;}
  .header__nav{ top: 100%;}
  .header__user{ height: auto;}
  .header__user-nav.show{top: calc(100% + 10px); }
  /*END header*/
  /*footer*/
  .footer__contacts{ margin-top: 10px;}
  .footer__nav{ width: 100%; margin-bottom: 0;
    a{ margin-bottom: 8px;}
  }
  /*END footer*/
  .top-img{ padding-top: 137px;}
  .top-block__content{ padding-top: 137px;}
  .six-item__item-wrap{ width: 100%;}
  .six-item__img{ width: 40%;}
  .six-item__txt{ width: 60%;}
  .book__item{ padding: 17px;}
  /*text*/
  h1{ font-size:40px;}
  h2{ font-size: 30px;}
  h4{ font-size: 18px;}
  h5{ font-size: 14px;}
  p{ font-size: 14px;}
  /*END text*/
}