<section class="about">
    <div class="mbox">
        <h2>Castelli Event Consultants</h2>
        <p>Our company was founded in 2013 and has over 30 years combined experience with booking exhibitor space for a diverse range of companies at events such as trade shows, conventions, exhibits, expos, sports events and festivals worldwide. We have provided our services to retailers, manufacturers, wholesalers and service based companies alike.
        </p><p>
            With over 20,000 events each year in the United State alone, it can be challenging to choose the right venues to market your business. We specialize in working with our clients to find, book and execute events that provide the best ROI and “bang for the buck”.

        </p>
        <div class="about__row">
            <div class="about__img">
                <img src="images/about01.jpg" alt="">
            </div>
            <div class="about__img">
                <img src="images/about02.jpg" alt="">
            </div>
        </div>

        <p>
        Whether you are a small business looking to test new markets or a large enterprise that needs help maximizing the marketing budget. Our service is perfect for all types of businesses that are looking for a solid presence in the trade show and event industry.
        </p><p>
        Our formula to booking successful events is unique and second to none. We use a combination of internal databases, market trends, research, connections and our own experience to find our clients the best events combined with our bulk purchasing power and innovative negotiation techniques to save our clients thousands on their marketing budgets.
    </p><p>
        We strive to establish win-win partnerships with all of our clients, celebrating their successes, while learning from the mistakes all in effort to be a one-stop solution provider for all of our clients needs.</p>

    </div>
</section>
<section class="two-column">
    <div class="mbox">
        <h2>Castelli consulting group core values</h2>
        <div class="two-column__content">
            <div class="two-column__row">
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab01.jpg);">
                        <h2 class="white noline">Value сreation</h2>
                    </div>
                    <p>Castelli Consulting Group exists to create sustainable value for consumers, partners, employees, owners, and society as a whole.  Our organization understands that its decisions, actions, and behaviors affect communities all over the world: from local employees to foreign suppliers and customers.  Castelli Consulting Group strives to make a positive
                        financial, environmental, and social impact across everything it does.</p>
                </div>
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab02.jpg);">
                        <h2 class="white noline">Excellence</h2>
                    </div>
                    <p>Castelli Consulting Group insists on excellence in all things.  Our
                        professionals set the example and make quality of our products and customer service a top priority.  Our organization continuously strives to improve its processes, products, and services, and its people provide
                        constructive feedback to each other so the organization can constantly improve.</p>
                </div>
            </div>
            <div class="two-column__row">
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab03.jpg);">
                        <h2 class="white noline">Innovation</h2>
                    </div>
                    <p>Castelli Consulting Group creates value through continuous innovation.  Our success is dependent on our ability to bring to market new and novel solutions that improve the lives of our customers.  Only by continuously improving our products, technology and offerings will we be able to win in the marketplace.</p>
                </div>
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab04.jpg);">
                        <h2 class="white noline">Respect</h2>
                    </div>
                    <p>Castelli Consulting Group team members have the ability to see and
                        celebrate the value that each individual brings.  Only by respecting our different viewpoints can we effectively collaborate and take advantage of our diverse backgrounds, experiences, and ideas to enhance each other’s capabilities and achieve superior results.</p>
                </div>
            </div>
            <div class="two-column__row">
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab05.jpg);">
                        <h2 class="white noline">Perseverance</h2>
                    </div>
                    <p>Castelli Consulting Group professionals persevere in the face of adversity and overcome obstacles to success.  Our team members are tenacious in achieving their goals and overcome all objections and impediments that may appear in their way.  By not giving up and learning from past
                        experiences our people achieve the best outcomes for themselves and
                        for Castelli Consulting Group.</p>
                </div>
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab06.jpg);">
                        <h2 class="white noline">Integrity</h2>
                    </div>
                    <p>Castelli Consulting Group believes that being ethically unyielding and entirely honest with our customers, partners, and ourselves is a
                        prerequisite for long-term success.  Castelli professionals take
                        responsibility for their actions and understand that trust and integrity are the cornerstones of any fruitful, long-term relationship.  Short-term gains are never more important than honesty and fairness.</p>
                </div>
            </div>
            <div class="two-column__row">
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab07.jpg);">
                        <h2 class="white noline">Teamwork</h2>
                    </div>
                    <p>Castelli Consulting Group unique approach to value creation requires that its team members work hand-in-hand to solve business problems and
                        drive results.  Castelli forms productive relationships with its suppliers,
                        customers and across its own internal departments in order to succeed.</p>
                </div>
                <div class="two-column__item">
                    <div class="two-column__img" style="background-image:url(images/ab08.jpg);">
                        <h2 class="white noline">Professionalism</h2>
                    </div>
                    <p>Castelli Consulting Group team members are accountable, socially
                        responsible, and good stewards of company resources.  At all times our professionals exhibit competence, expertise, and dedication to their roles.</p>
                </div>
            </div>
        </div>
    </div>
</section>