<section class="book">
    <div class="mbox">
        <h2>Work with us</h2>
        <h5>You want to book the events yourself but need high quality data, rest assure we can help you. We have researched and executed over 2000 events in the past 6 years. We can provide you with excel files, access to google calendars, previous sales figures and feedback on prospective shows. We have extensive data for the US, European, Israeli and South African markets (800 + events).</h5>
        <div class="book__content">
            <div class="book__item"  style="background-image: url(images/book01.jpg);">
                <h2 class="yellow yellow--lined">How it’s done</h2>
                <h5 class="white">You meet one of our reps, sample the data and if you like it you pay the onetime fee on the spot.</h5>
            </div>
            <div class="book__item" style="background-image: url(images/book02.jpg);">
                <h2 class="yellow yellow--lined">Price</h2>
                <h5 class="white">The client purchases our data bases for a onetime lifetime fee. The cost varies based on industry, quality and amounts. We do our best not to resell our data to competitors in the same industry. $2,000-$10,000</h5>
            </div>
        </div>
    </div>
</section>