<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__wrap">
            <div class="footer__col">
                <div class="footer__logo"><img src="images/logo-footer.png" alt=""></div>

            </div>
            <div class="footer__col footer__nav">
                <a href="#"><span>Blog</span></a>
                <a href="#"><span>Agreement for Services</span></a>
                <a href="#"><span>Refund Policy</span></a>
            </div>
            <div class="footer__col footer__nav">
                <a href="#"><span>Terms and Privacy Policy</span></a>
                <a href="#"><span>Castelli Employee Bitrix Login</span></a>
                <a href="#"><span>Trusted Event Service Providers</span></a>
            </div>
            <div class="footer__col footer__contacts">
                <h6>Contact Us</h6>
                <div class="footer__addres"><a href="#">Castelli Event Consultants
                    12407 Old Bridge Rd, Ocean City</a></div>
                <div class="footer__mail"><a href="mailto:clients@castelli-group.com"> Email: clients@castelli-group.com</a></div>
                <div class="footer__socials">
                    <a href="#"><img src="images/fb.png" alt=""></a>
                    <a href="#"><img src="images/tw.png" alt=""></a>
                </div>
            </div>
            <div class="footer__copyright"><span>© All rights reserved. 2017</span></div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/adaptation.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
