<section class="four-item">
    <div class="mbox">
        <div class="four-item__wrap">
            <h2>Our Promises to You</h2>
            <h4>We will grow together</h4>
            <div class="four-item__content">
                <div class="four-item__item-wrap four-item__item-wrap--color">
                    <div class="four-item__item">
                        <div class="four-item__num">
                            <div class="four-item__img"><img src="images/1.png" alt=""></div><span>You can
rely on us</span>
                        </div>
                        <p>We bring you exhibitors that pay on time and are looking for long-term
                            relationships.</p>
                    </div>
                </div>
                <div class="four-item__item-wrap four-item__item-wrap--right">
                    <div class="four-item__item">
                        <div class="four-item__num">
                            <div class="four-item__img"><img src="images/2.png" alt=""></div><span>Quality
assurance</span>
                        </div>
                        <p>Professional booth displays and employees.</p>
                    </div>
                </div>
                <div class="four-item__item-wrap">
                    <div class="four-item__item">
                        <div class="four-item__num">
                            <div class="four-item__img"><img src="images/3.png" alt=""></div><span>Multilateral
vision</span>
                        </div>
                        <p>We can fill multiple categories for your events and bring you many clients.</p>
                    </div>
                </div>
                <div class="four-item__item-wrap four-item__item-wrap--right four-item__item-wrap--color">
                    <div class="four-item__item">
                        <div class="four-item__num">
                            <div class="four-item__img"><img src="images/4.png" alt=""></div><span>Personal
approach</span>
                        </div>
                        <p>We only bring professional exhibitors that we have prescreened.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>