<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="header__content">
                <div class="header__logo">
                    <a href="#"><img src="images/logo-header.png" alt=""></a>
                </div>
                <div class="header__right">
                    <div class="butter"><span></span><span></span><span></span></div>
                    <ul class="header__nav menu">
                        <li>
                            <a href="#">Home</a>
                            <ul>
                                <li><a href="#">Book your shows independently</a></li>
                                <li><a href="#">Premium event coordinating</a></li>
                                <li><a href="#">VIP client privileges</a></li>
                                <li><a href="#">Exclusive data bases for purchase</a></li>
                                <li><a href="#">Custom exhibitor packages</a></li>
                                <li><a href="#">Exhibitor insurange</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">About us</a>
                            <ul>
                                <li><a href="#">Book your shows independently</a></li>
                                <li><a href="#">Premium event coordinating</a></li>
                                <li><a href="#">VIP client privileges</a></li>
                                <li><a href="#">Exclusive data bases for purchase</a></li>
                                <li><a href="#">Custom exhibitor packages</a></li>
                                <li><a href="#">Exhibitor insurange</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Our Services</a>
                            <ul>
                                <li><a href="#">Book your shows independently</a></li>
                                <li><a href="#">Premium event coordinating</a></li>
                                <li><a href="#">VIP client privileges</a></li>
                                <li><a href="#">Exclusive data bases for purchase</a></li>
                                <li><a href="#">Custom exhibitor packages</a></li>
                                <li><a href="#">Exhibitor insurange</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Our Clients</a>
                            <ul>
                                <li><a href="#">Book your shows independently</a></li>
                                <li><a href="#">Premium event coordinating</a></li>
                                <li><a href="#">VIP client privileges</a></li>
                                <li><a href="#">Exclusive data bases for purchase</a></li>
                                <li><a href="#">Custom exhibitor packages</a></li>
                                <li><a href="#">Exhibitor insurange</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Event Relationships</a>
                            <ul>
                                <li><a href="#">Book your shows independently</a></li>
                                <li><a href="#">Premium event coordinating</a></li>
                                <li><a href="#">VIP client privileges</a></li>
                                <li><a href="#">Exclusive data bases for purchase</a></li>
                                <li><a href="#">Custom exhibitor packages</a></li>
                                <li><a href="#">Exhibitor insurange</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="header__login" style="display: none;" ><a href="#">Login</a></div>
                    <div class="header__autorized">
                        <div class="header__user">
                            <p><img src="images/user.png" alt=""><span>Christian Glasmeuer</span></p>
                            <p style="font-size: 14px;"><img src="images/money.png" alt=""><span>1000$</span></p>
                        </div>
                        <div class="header__user-nav">
                            <p><a href="#">My profile</a></p>
                            <p><a href="#"> Log out</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->






