<section class="img-banner" style="background-image:url(images/img-banner.jpg);">
    <div class="mbox">
        <h2 class="yellow">Free consultation</h2>
        <div class="img-banner__form">
            <form action="ajax.php">
                <div class="form_row">
                    <div class="form_input">
                        <input type="text" name="contact_name" required="required" value="" placeholder="Name">
                    </div>
                    <div class="form_input">
                        <input type="text" name="contact_tel" value="" required="required" placeholder="Phone" class="tel-mask">
                    </div>
                    <div class="form_input">
                        <input type="mail" name="contact_mail" value="" required="required" placeholder="E-mail" >
                    </div>
                    <div class="form_input">
                        <button class="button"><span>Send</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>