<section class="six-item">
    <div class="mbox">
        <div class="six-item__wrap">
            <h2>Service promise</h2>
            <h5>Our primary and ultimate goal at Castelli Group is to provide 100% customer satisfaction for our clients. While there are many potential unknown hurdles that can turn up in the show business, we stand behind our services and guarantee to do what ever we can for our clients to succeed.</h5>
            <div class="six-item__content">
                <div class="six-item__item-wrap">
                    <div class="six-item__item">
                    <div class="six-item__img"><img src="images/ic-01.png" alt=""></div>
                    <div class="six-item__txt"><p>Save you <br> money</p></div>
                </div>
                </div>
                <div class="six-item__item-wrap">
                    <div class="six-item__item">
                    <div class="six-item__img"><img src="images/ic02.png" alt=""></div>
                    <div class="six-item__txt"><p>Maximize booth <br>
                        location</p></div>
                </div>
                </div>
                <div class="six-item__item-wrap">
                    <div class="six-item__item">
                    <div class="six-item__img"><img src="images/ic03.png" alt=""></div>
                    <div class="six-item__txt"><p>Minimize <br>
                        headaches</p></div>
                </div>
                </div>
                <div class="six-item__item-wrap">
                    <div class="six-item__item">
                    <div class="six-item__img"><img src="images/ic04.png" alt=""></div>
                    <div class="six-item__txt"><p>More winners / less <br>
                        losers</p></div>
                </div>
                </div>
                <div class="six-item__item-wrap">
                    <div class="six-item__item">
                    <div class="six-item__img"><img src="images/ic05.png" alt=""></div>
                    <div class="six-item__txt"><p>Treat your business <br>
                        like our own</p></div>
                </div>
                </div>
                <div class="six-item__item-wrap">
                    <div class="six-item__item">
                    <div class="six-item__img"><img src="images/ic06.png" alt=""></div>
                    <div class="six-item__txt"><p>Discretion and <br> confidentiality</p></div>
                </div>
                </div>

            </div>
        </div>
    </div>
</section>